{% extends 'base.html' %}
{% load gravatar %}



{% block body %}
  <div class="masthead">
    <div class="pull-right gravatar" style="background-image:url('{% gravatar_for_user request.user 100 %}');">

    <img src="">
    </div>
    <h3 class="muted">Codingmood</h3>


  </div>

  <hr>

  <div class="row-fluid">
    <div class="span4">
      <div class="well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'badges:list' %}">Badges</a></li>
        </ul>
      </div>
    </div>

    {% block container %}{% endblock %}
  </div>
{% endblock %}