{% extends 'base-authorized.html' %}
{% load thumbnail %}

{% block container %}
  <div class="col-md-8">
    <div class="row">
      {% for badgeuser in badgeuser_list %}
        <div class="col-md-4 inline-block mbm">
          <div class="tile {{ badgeuser.is_new|yesno:'tile-new,tile-old' }}">
            {% thumbnail badgeuser.badge.image "150x148" crop="center" as img %}
              <img src="{{ img.url }}" alt="{{ badgeuser.badge.title }}" class="tile-image big-illustration">
            {% endthumbnail %}
            <h3 class="tile-title">{{ badgeuser.badge.title }}</h3>
            <p>{{ badgeuser.badge.description }}</p>
          </div>
        </div>
      {% empty %}
        <div class="col-md-4 col-md-offset-4">
          <div class="palette palette-turquoise text-center">You don't have badges</div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}