{% extends 'base-authorized.html' %}

{% block title %} Index page {% endblock %}
{% block container %}
  <div class="span8">
    <div class="row-fluid">

      <div style="height: 400px;" class="palette palette-turquoise span12">

      </div>
    </div>

    <div class="row-fluid">
      <hr>
      {# Form to add new repo #}
      <div class="mtl b-form b-add-repo">
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="span3">
            <input type="submit" class="btn btn-large btn-block btn-primary">
          </div>

        </form>
      </div>
      {# End new repo form #}
    </div>

  </div>
{% endblock %}

{% block left-side %}
  <h4>Your repositories</h4>

  <div class="well" style="max-width: 340px; padding: 8px 0;">

    <ul class="nav nav-list">
      {% for repositories in repositories_list %}
        <li><a href="/">{{ repositories.url }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}