{% extends 'base-authorized.html' %}

{% block title %} Index page {% endblock %}
{% block container %}


  <div class="span8" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">

      <div style="height: 400px;" class="palette palette-turquoise span10">

      </div>
    </div>

    <div class="row-fluid">
      {# Form to add new repo #}
      <div class="mtl b-form b-add-repo">
        <form>
          <input type="text"> </br>
          <input type="text"> </br>

          <input type="text"> </br>
          <input type="text"> </br>
          <div class="span3">
            <input type="submit" class="btn btn-large btn-block btn-primary">
          </div>

        </form>
      </div>
      {# End new repo form #}
    </div>

  </div>

{% endblock %}

