{% extends 'base-authorized.html' %}
{% load thumbnail %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['ID', 'Code quality', 'Mood', 'Social network','Commits'],
        {% for repo in repositories_statisctics %}
            ['{{ repo.name }}', {{ repo.code_quality }}, {{ repo.mood }}, 'Facebook', {{ repo.commits }}],
        {% endfor %}
    ]);

    var options = {
      title: 'Correlation between code quality and mood in social networks',
      hAxis: {title: 'Code Quality', maxValue: 10, minValue: -10, viewWindow: {max:11, min:-11}},
      vAxis: {title: 'Mood', maxValue: 10, minValue: -10},
      bubble: {textStyle: {fontSize: 11}},
      sizeAxis: {minSize: 8}
    };

    var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
{% endblock %}

{% block title %} Index page {% endblock %}

{% block container %}
  <div class="col-md-8">
    <div class="row-fluid">

      <div style="height: 400px;" id="chart_div" class="palette span12">

      </div>


    </div>
    <hr>

    <div class="row">
      {% for badge in badge_list %}
        <div class="col-md-3 inline-block mbm">
          <div class="tile">
            {% thumbnail badge.image "112x111" crop="center" as img %}
              <img src="{{ img.url }}" alt="{{ badge.title }}" class="tile-image big-illustration">
            {% endthumbnail %}
            <h3 class="tile-title">{{ badge.title }}</h3>
            <p>{{ badge.description }}</p>
          </div>
        </div>
      {% empty %}
        <div class="col-md-4 col-md-offset-4">
          <div class="palette palette-turquoise text-center">You don't have badges</div>
        </div>
      {% endfor %}
    </div>


  </div>
{% endblock %}

{% block left-side %}
  <h4>Your repositories</h4>

  <div class="well" style="max-width: 340px; padding: 8px 0;">

    <ul class="nav nav-list">
      {% for repositories in repositories_list %}
        <li><a href="/">{{ repositories.url }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    <div class="col-md-9">

      {# Form to add new repo #}
      <div class="mtl b-form b-add-repo">
        <form method="post" action=".">
          {% csrf_token %}

          <div class="row-fluid mbl">
            <div class="control-group{% if form.url.errors %} has-error{% endif %}">
              {{ form.url.label_tag }}
              {{ form.url }}
              {{ form.url.errors }}

            </div>
          </div>


          <div class="row mbl">
            <div class="col-lg-6{% if form.start_date.errors %} has-error{% endif %}">
              {{ form.start_date.label_tag }}
              <div class="form-group mbn">
                {{ form.start_date }}
                <span class="input-icon fui-calendar-solid"></span>
              </div>
              {{ form.start_date.errors }}


            </div>
            <div class="col-md-6{% if form.end_date.errors %} has-error{% endif %}">
              {{ form.end_date.label_tag }}
              <div class="form-group mbn">
                {{ form.end_date }}
                <span class="input-icon fui-calendar-solid"></span>
              </div>
              {{ form.end_date.errors }}

            </div>

          </div>


          <input type="submit" class="btn btn-large btn-block btn-primary">

        </form>
      </div>
    </div>

    {# End new repo form #}
  </div>

{% endblock %}